# Exercícios - Introdução ao PANDAS

Neste notebook utilizaremos um dataset com informações sobre os municípios brasileiros. Os dados foram obtidos de http://blog.mds.gov.br/redesuas/lista-de-municipios-brasileiros/ .

In [1]:
# Importação das bibliotecas
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Carregamento do dataframe a partir de um arquivo .csv
df = pd.read_csv('Lista_Municipios_com_IBGE_Brasil.csv', sep=';', encoding='latin-1' )

### Comandos para o primeiro contato com uma base:

In [3]:
df.head()

,IBGE,UF,Município,Região,População 2010,Porte,Capital
0,110001,RO,Alta Floresta D´oeste,Região Norte,24392.00,Pequeno II,NaN
1,110002,RO,Ariquemes,Região Norte,90353.00,Médio,NaN
2,110003,RO,Cabixi,Região Norte,6313.00,Pequeno I,NaN
3,110004,RO,Cacoal,Região Norte,78574.00,Médio,NaN
4,110005,RO,Cerejeiras,Região Norte,17029.00,Pequeno I,NaN

In [4]:
df.shape

(5570, 7)

In [5]:
df.dtypes

IBGE                int64
UF                 object
Município          object
Região             object
População 2010    float64
Porte              object
Capital            object
dtype: object

In [6]:
df.describe()

           IBGE  População 2010
count   5570.00         5565.00
mean  325358.63        34277.77
std    98491.03       203112.62
min   110001.00          805.00
25%   251212.50         5235.00
50%   314627.50        10934.00
75%   411918.75        23424.00
max   530010.00     11253503.00

### Hora de botar a mão na massa!!!

Tente responder às seguintes questões:
1. Quantos estados estão presentes na base?
- Listar os municípios de Alagoas.
- Qual estado possui mais municípios?
- Qual a região possui mais municípios?
- Quais os 10 municípios com maior população?
- Quais os 10 municípios com maior população no estado da Bahia?
- Qual o município com menor população no país?
- Qual o valor médio de população por estado?
- Quais são os valores possíveis na coluna "Porte"?
- Qual a média de população por cada tipo de porte de município?
- O que quer informar a coluna "Capital"?
- Listar as Capitais.
- Qual a distribuição de porte de municípios na região Sul? E na região Norte?

In [11]:
# 1. Quantos estados estão presentes na base?

27

In [32]:
# 2. Listar os municípios de Alagoas.
df

array(['Água Branca', 'Anadia', 'Arapiraca', 'Atalaia',
       'Barra de Santo Antônio', 'Barra de São Miguel', 'Batalha',
       'Belém', 'Belo Monte', 'Boca da Mata', 'Branquinha', 'Cacimbinhas',
       'Cajueiro', 'Campestre', 'Campo Alegre', 'Campo Grande', 'Canapi',
       'Capela', 'Carneiros', 'Chã Preta', 'Coité do Nóia',
       'Colônia Leopoldina', 'Coqueiro Seco', 'Coruripe', 'Craíbas',
       'Delmiro Gouveia', 'Dois Riachos', 'Estrela de Alagoas',
       'Feira Grande', 'Feliz Deserto', 'Flexeiras', 'Girau do Ponciano',
       'Ibateguara', 'Igaci', 'Igreja Nova', 'Inhapi',
       'Jacaré Dos Homens', 'Jacuípe', 'Japaratinga', 'Jaramataia',
       'Jequiá da Praia', 'Joaquim Gomes', 'Jundiá', 'Junqueiro',
       'Lagoa da Canoa', 'Limoeiro de Anadia', 'Maceió', 'Major Isidoro',
       'Maragogi', 'Maravilha', 'Marechal Deodoro', 'Maribondo',
       'Mar Vermelho', 'Mata Grande', 'Matriz de Camaragibe', 'Messias',
       'Minador do Negrão', 'Monteirópolis', 'Murici', 'Novo Lino',
       'Olho D´água Das Flores', 'Olho D´água do Casado',
       'Olho D´água Grande', 'Olivença', 'Ouro Branco', 'Palestina',
       'Palmeira Dos Índios', 'Pão de Açúcar', 'Pariconha', 'Paripueira',
       'Passo de Camaragibe', 'Paulo Jacinto', 'Penedo', 'Piaçabuçu',
       'Pilar', 'Pindoba', 'Piranhas', 'Poço Das Trincheiras',
       'Porto Calvo', 'Porto de Pedras', 'Porto Real do Colégio',
       'Quebrangulo', 'Rio Largo', 'Roteiro', 'Santa Luzia do Norte',
       'Santana do Ipanema', 'Santana do Mundaú', 'São Brás',
       'São José da Laje', 'São José da Tapera', 'São Luís do Quitunde',
       'São Miguel Dos Campos', 'São Miguel Dos Milagres',
       'São Sebastião', 'Satuba', 'Senador Rui Palmeira', 'Tanque D´arca',
       'Taquarana', 'Teotônio Vilela', 'Traipu', 'União Dos Palmares',
       'Viçosa'], dtype=object)

In [52]:
# 10. Qual a média de população por cada tipo de porte de município?
df.groupby(['Porte'])["População 2010"].mean()

Porte
Grande        234375.17
Metrópole    2476051.88
Médio          68659.09
Pequeno I       8344.47
Pequeno II     30052.42
Name: População 2010, dtype: float64